
*{
  margin: 0px;
  padding: 0px;
}
h2{
 margin-left: 110px;
}
form {
  background-color: blueviolet;
  color: white;
  width: 400px;
  height: 700px;
  padding: 30px;
  border: 5px solid black;


}
table, th, tr, td{
  width: 500px;
  height: 40px;
  padding: 3px;
  border: 1px solid black;
  text-align:center ;
 
}
th, tr, td{
  background-color: aqua;
}